.testimonialsContainer h2 {
  margin: 0 0 7rem 0;
}
.testimonials {
  display: flex;
  align-items: center;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 4rem;
  right: 4rem;
}
.controls button {
  background: none;
}
.rightControl {
  transform: rotate(180deg);
}
.testimonial {
  min-width: 75%;
  max-width: 75%;
  padding: 0 12.5%;
  text-align: center;
}
.testParagraph,
.testOwner {
  font-size: 2rem;
  line-height: 150%;
}
.testOwner {
  color: var(--brown);
}
