.aboutContainer {
  height: 92vh;
  max-height: 92vh;
}
.aboutImg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.aboutImg div {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  position: absolute;
}
.aboutImg img {
  width: 100%;
  height: 92vh;
  object-fit: cover;
}
.aboutContainer div {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutContainer h2,
.aboutContainer p {
  z-index: 1;
  color: var(--white);
  margin: 0 3rem;
}

.aboutContainer p {
  font-size: 2rem;
  line-height: 150%;
  margin: 6rem 3rem 0 3rem;
}

@media (min-width: 768px) {
  .aboutContainer p {
    font-size: 2.25rem;
    margin: 9rem 8rem 0 8rem;
  }
}
@media (min-width: 1080px) {
  .aboutContainer p {
    margin: 9rem 15rem 0 15rem;
  }
}
