.hero {
  text-align: center;
  min-height: 92vh;
}
.heroImg {
  display: none;
}
.hero h1 {
  padding: 7.75rem 0 0 0;
}
.hero p {
  font-size: 2.25rem;
  line-height: 135%;
  margin: 7rem 0;
}

.upcomingEvents h2 {
  margin: 8rem 0;
}
.events {
  margin: 0 0 16rem 0;
}
.event {
  margin: 0 0 4rem 0;
  color: var(--white);
  text-align: center;
  font-size: 1.75rem;
}
.eventImg {
  max-width: 100%;
  max-height: 100%;
}
.eventDetails {
  backdrop-filter: blur(1px);
  background-color: rgba(16, 16, 15, 0.4);
  padding: 3rem 0 4rem 0;
}
.eventTime {
  margin: 2rem 0;
}
.event button {
  margin: 3rem 0 0 0;
}

.testimonialsContainer h2 {
  margin: 0 0 7rem 0;
}
.testimonials {
  display: flex;
  align-items: center;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 4rem;
  right: 4rem;
}
.controls button {
  background: none;
}
.rightControl {
  transform: rotate(180deg);
}
.testimonial {
  min-width: 75%;
  max-width: 75%;
  padding: 0 12.5%;
  text-align: center;
}
.testParagraph,
.testOwner {
  font-size: 2rem;
  line-height: 150%;
}
.testOwner {
  color: var(--brown);
}
