.eventsContainer {
  margin: 16rem 0; /* dont forget to this fix */
}
.event {
  margin: 0 0 7.5rem 0;
}
.event h2 {
  margin: 0 0 4rem 0;
  text-transform: capitalize;
}
.eventImg,
.eventImg img {
  width: 100%;
}
.eventImg img {
  aspect-ratio: 4 / 3;
  height: auto;
  object-fit: cover;
}
.eventCopy h2 {
  display: none;
}
.desc {
  margin: 3rem 0;
  font-size: 2rem;
}
.price {
  font-weight: 700;
  font-size: 2rem;
}
.event button {
  font-size: 1.75rem;
  margin: 4rem 0 0 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .event {
    margin: 0 0 10rem 0;
  }
  .desc,
  .price {
    font-size: 3rem;
  }
  .event button {
    font-size: 2.75rem;
  }
}
@media (min-width: 1080px) {
  .event {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .event:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .event h2 {
    display: none;
  }
  .eventImg {
    width: calc(58.3% - 1.5rem);
  }
  .eventCopy {
    width: calc(41.7% - 1.5rem);
  }
  .eventCopy h2 {
    display: block;
    font-size: 3.5rem;
  }
  .desc,
  .price {
    font-size: 2.25rem;
  }
  .event button {
    font-size: 2rem;
  }
}
