.formContainer {
  padding: 15rem 0 4rem 0;
}
.formContainer p {
  margin: 2rem 0 4rem 0;
  font-size: 1.75rem;
}
.formContainer p button {
  background: none;
  font-family: var(--headerFont);
  font-weight: 700;
  cursor: pointer;
}
.formContainer form input,
.formContainer form textarea {
  width: calc(100% - 4rem - 2px);
  padding: 1rem 2rem;
  background: none;
  margin: 0 0 2rem 0;
  border: 1px solid var(--black);
  /* border-radius: 5px; */
  outline: none;
  font-size: 1.75rem;
}
.formContainer form input:focus,
.formContainer form textarea:focus {
  border: 2px solid var(--black);
}
.socials {
  margin: 7rem 0 2rem 0;
}
.socials svg {
  width: 4rem;
}
.socials svg:first-child {
  margin: 0 2rem 0 0;
}
.contactDetails {
  display: flex;
  flex-direction: column;
}
.contactDetails a:first-child {
  margin: 0 0 1rem 0;
}
.address p {
  font-size: 2.25rem;
  margin: 2rem 0 1rem 0;
}

@media (min-width: 768px) {
  .formContainer p,
  .formContainer form input,
  .formContainer form textarea,
  .formContainer p button {
    font-size: 2.25rem;
  }
}

@media (min-width: 1080px) {
  .detailsContainer {
    display: flex;
    justify-content: space-between;
  }
  .formContainer form {
    width: calc(58.33% - 1.5rem);
  }

  .details {
    width: calc(41.7% - 1.5rem);
    margin: 0 0 0 8rem;
  }
  .socials {
    margin: 0;
  }
}
